# Application
APP_NAME=SGCL
PORT=3001
NODE_ENV=development

# Database (PostgreSQL Docker)
DATABASE_URL="postgresql://sgcl_admin:password_seguro_123@localhost:5432/sgcl_db?schema=public"

# JWT (Genera un texto aleatorio seguro)
JWT_SECRET="cambia_este_secreto_por_algo_muy_largo_y_seguro_987654321"
JWT_EXPIRES_IN="8h"

# Laudus API
LAUDUS_BASE_URL="https://api.laudus.cl"
LAUDUS_USERNAME="jose.m"
LAUDUS_PASSWORD="1234"
LAUDUS_COMPANY_VAT_ID="76011347-6"

# Wazzup (WhatsApp)
WAZZUP_API_KEY="TU_API_KEY_DE_WAZZUP_AQUI"

# Email (SMTP) - Ejemplo con Gmail (debes usar "Contraseñas de aplicación" de Google)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="tu_correo@gmail.com"
EMAIL_PASS="tu_password_de_aplicacion"
EMAIL_FROM="SGCL <tu_correo@gmail.com>"